[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "/home/albert/.config/emacs"]
	path = /home/albert/.config/emacs
	url = https://github.com/doomemacs/doomemacs
